---
import '@fontsource-variable/raleway'

type Meta = {
	title?: string
	description?: string
}

const defaultMeta: Meta = {
	title: 'Bonus XP 🧙‍♀️',
	description: 'Explore, adventure, and learn how to code the fun way!',
}

type Props = {
	meta?: Meta
}

const {meta} = Astro.props

const title = meta?.title ? `${meta.title} 🧙‍♀️ Bonus XP` : defaultMeta.title
const description = meta?.description ?? defaultMeta.description
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<meta name="description" content={description} />

		<!-- OpenGraph Meta -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Bonus XP" />
		<meta property="og:url" content={Astro.url.origin + Astro.url.pathname} />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	/*
  Additional "resets" based on Josh's article:
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	body {
		-webkit-font-smoothing: antialiased;
		isolation: isolate;
		display: flex;
		flex-direction: column;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	html,
	body {
		height: 100%;
	}

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
