---
import '@fontsource-variable/raleway'
import './globals.css'

import {ViewTransitions} from 'astro:transitions'
import Header from '@/components/Header/Header.astro'
import Footer from '@/components/Footer.astro'

export type Meta = {
	title?: string
	description?: string
	ogImageUrl?: string
}

const defaultMeta: Meta = {
	title: 'Bonus XP 🧙‍♀️',
	description: 'Explore, adventure, and learn how to code the fun way!',
	ogImageUrl: Astro.url.origin + '/og.png',
}

type Props = {
	meta?: Meta
}

const {meta} = Astro.props

const title = meta?.title ? `${meta.title} 🧙‍♀️ Bonus XP` : defaultMeta.title
const description = meta?.description ?? defaultMeta.description
const ogImageUrl = meta?.ogImageUrl ?? defaultMeta.ogImageUrl
---

<!doctype html>
<script is:inline>
	// default to dark mode, because **I** like it more :-)
	const defaultTheme = 'dark'
	const getTheme = () => {
		if (typeof localStorage !== 'undefined') {
			return localStorage.getItem('theme') || defaultTheme
		}
		return defaultTheme
	}

	const setTheme = (document) => {
		const theme = getTheme()
		document.documentElement.dataset.theme = theme
	}

	setTheme(document)

	document.addEventListener('astro:before-swap', (event) => {
		// Ensure theme is set for view transitons
		setTheme(event.newDocument)
	})

	const observer = new MutationObserver(() => {
		const nextTheme = document.documentElement.dataset.theme
		if (nextTheme) {
			localStorage.setItem('theme', nextTheme)
		}
	})
	observer.observe(document.documentElement, {
		attributes: true,
		attributeFilter: ['data-theme'],
	})

	const toggleTheme = () => {
		const nextTheme =
			document.documentElement.dataset.theme === 'dark' ? 'light' : 'dark'
		document.documentElement.dataset.theme = nextTheme
	}

	window.toggleTheme = toggleTheme
</script>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<meta name="description" content={description} />

		<!-- OpenGraph Meta -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Bonus XP" />
		<meta property="og:url" content={Astro.url.origin + Astro.url.pathname} />

		<meta property="og:image" content={ogImageUrl} />
		<meta name="twitter:card" content="summary_large_image" />

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#059669" />
		<meta name="theme-color" content="#059669" />

		<ViewTransitions fallback="none" />

		<script
			defer
			data-domain="bonusxp.dev"
			src="https://plausible.io/js/script.js"></script>
	</head>
	<body>
		<Header />
		<main class="content-grid grow" transition:animate="slide">
			<slot />
		</main>
		<Footer />
	</body>
</html>
